<!DOCTYPE html>
<!-- ENTRY 24; ENTRY 29;-->
<!-- ENTRY 24: HTML FORM FOR ADDING CATEGORY
    1.  We are going to add Thymeleaf attributes at <form> tag :
        a.  The action : th:action = “@{/categories}” <- NOTE: this is Thymeleaf url expression.
        b.  The method: method = “post” NOTE: it uses standard HTML not Thymeleaf.
    2.  we’ll start binding a Category object to the form element using form element : th:object=”${category}”
    3.  Now the object category already bound to the <form> tag thus we can use th field elements. Here in the <input>
        instead of using $ sign we will use *sign <more on this> in the curly braces. I will fill it with
        name property : th:field=”*{name}”
    4.  For the <select> element we are going to do something similar. I will use : th:field=”*{colorCode}”  to refer to
        Category.colorCode field.
    5.  Tell Thymeleaf to iterate the color Enum in the second <option> element by adding this.
        th:each="color : ${colors}" .
    6.  We’ll need to specify the options value with th:value=”${color.hexCode}”
    7.  For the name of the color I wanted it to be a text thus th:text=”${color:name}”
    8.  For the style we want it to be colored as the color name in the css, thus: th:style=”|color:${color.hexCode}|”
    NEXT: ENTRY 25: CAPTURING FORM VALIDATION ERRORS ENTITY CLASS
    GOTO: Category.java

    ENTRY 29: DISPLAYING VALIDATION MESSAGE
    1.  We want to give validation message as close as possible to the corresponding input thus we start with the
        <input> element for the category name. Thus under the <input> element we add new <div class=”error-message”>
        element which contains actual error messages should validation errors be present.
    2.  Thus we must ensure the <div class=”error-message”> will only be displayed when validation errors are present:
        we add this attribute th:if=”${#fields.hasErrors(‘name’)}”
    3.  That attribute will check if the name field and the text we want to display in this dive will come from some
        default error message. To have access to this default error messages we must add (instead of th:text)
        th:errors=”*{name}” attribute in <div class=”error-message”>
    4.  Next we do the same thing for the colorCode which is the same in principle.
        Place the <div class=”error-message> below the </select> element than change the if field name and
        th:errors name from name to colorCode.
    5.  Since in the app.css the .error-message is written as .error .error-message which means it is only active if
        it’s part of child element of another div class. Thus we need to ensure we add
        th:classappend= ${#fields.hasErrors(‘name’)} ?  error’’ meaning this is if statement if true the
        classappend=”error” if false classappend=” “. NOTE: this is the update for th:classappend
    6.  Same for the parent div that cover the <div class=error-message> for the select we add:
        th:classappend= ${#fields.hasErrors(‘colorCode’)} ? error’’ .NOTE: this is the update for th:classappend
    PS NOTE: WE CAN ADD MESSAGE IN THE Validation annotations of each @Entity

    PRE-REQ ENTRY 30: ENCAPSULATING A FLASH MESSAGE
    1.  Right click the web package to create a New Class and name it FlashMessage.
    GOTO: com/mooracle/giflibh2/web/FlashMessage.java

    ENTRY 43: Updating Categories Part 1
templates/category/form.html
    1.  We’ll start with <form> action attribute. Let’s change the attribute into variable expression @{${action}}
    2.  Next for the heading “New Category” we changed into variable expression th:text=${heading}
    3.  Lastly from the submit button we make the text variable expression th:text=${submit}
    4.  The final change we’ll need to make here is ensuring that our categoryId is preserved across the HTTP request
        response cycle.
    5.  When the form is submitted we want to make sure that the category is indeed updated not creating a new one.
    6.  To do that we’ll add a hidden input inside the <form> elemernt: <input type=”hidden”>
    7.  Then bind it with categoryId <input type=”hidden” th:field=”*{id}”

 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('new category')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <!--24-1; 24-2; 43-1. -->
    <form th:action="@{${action}}" method="post" th:object="${category}">
        <!-- 43-6 -->
        <input type="hidden" th:field="*{id}"/>
        <div class="row">
            <div class="col s12">
                <!--43-2. -->
                <h2 th:text="${heading}">New Category</h2>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <!--29-5;-->
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('name')} ? error">
                <!-- 24-3;-->
                <input type="text" placeholder="Category Name" th:field="*{name}"/>
                <!--29-1; 29-2; 29-3;-->
                <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
        </div>
        <div class="row">
            <!--29-6;-->
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('colorCode')} ? error">
                <!--24-4; 24-5;-->
                <select class="cs-select cs-skin-border" th:field="*{colorCode}">
                    <option value="" disabled="disabled">Category Color</option>
                    <!--24-6;24-7;24-8;-->
                    <option th:each="color:${colors}" th:value="${color.hexCode}" th:text="${color.name}" th:style="|color:${color.hexCode}|">
                        Aqua
                    </option>
                </select>
                <!--29-4;-->
                <div class="error-message" th:if="${#fields.hasErrors('colorCode')}" th:errors="*{colorCode}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <!-- 43-3. -->
                <button type="submit" class="button" th:text="${submit}">Add</button>
                <a th:href="@{/categories}" class="button">Cancel</a>
            </div>
        </div>
    </form>
    <div class="row delete">
        <div class="col s12 l8">
            <form>
                <button type="submit" class="button">Delete</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>